html, body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}
img{border:0; max-width: 800px}
#wrapper {
	height: 100%;
	margin: auto;
	text-align:left;
	background-color:#fff;
	padding: 0px;
	max-width: 800px;
}

p, body, td, ol, ul, menu, blockquote, div { 
	font-family: Helvetica,Arial,Verdana;
	font-size: 14pt;
	color: #000;
}

h1 {
	font-weight: normal;
	font-size: 3em;
	margin: 0px;
}

h2 {
	margin-top: 35px;
	margin-bottom: 0px;
}

ul {text-align:left;}

img.badge {padding: 5px;}
