body{background-color: #000033; color: #ffffff;text-align:center;}
p, td, ol, ul, menu, blockquote, div{font-family: Helvetica,Arial;font-size: 10pt;color: #000000;}
a{text-decoration: none;color: #003366}
a:hover{text-decoration: underline;}
div.doc {background-color:#ffffff;border-color: #000033; border-width: 5px; border-style: solid; width: 800px;padding:10px;text-align:left;margin:auto;}
ul {margin: 2px 0 0 15px; padding: 0;}
table.resume td{vertical-align:top;padding:5px;}
td.employer {white-space:nowrap;}
td.section-head{text-align:center;}
td.right{text-align:right;}
hr{width:90%;}
li.indented{margin-left: 2.5em;}